<%- include('header.ejs') %>

<h2>Liste des étudiants</h2>
<ul>
    <% students.forEach(student => { %>
        <li><%= student.id %> - <%= student.firstname %> - <%= student.lastname %> - <%= student.gender %></li>
    <% }) %>
</ul>

<%- include('footer.ejs') %>